body{
    display: block;
    background-color: rgb(223, 210, 194);
    border: 5px solid rgb(255, 204, 0);
    margin: 10px;
}

#headerimg1{
    width: 15%;
    height: 15%;
    margin-right: 30px;
}

#headerimg2{
    width: 15%;
    height: 15%;
    margin-left: 30px;
}
#header{
    margin-top: 10px;
    text-align: center;
}
#quoteimg1{
    width: 10%;
    height: 10%;
    margin-right: 30px; 
}

#quote1{
    text-align: right;
}

#quote2{
    text-align: right;
}
#quoteimg2{
    width: 10%;
    height: 10%;
    margin-right: 30px; 
}
